In [ ]:
# Make a Pandas DataFrame with two-dimensional list | Python
# How to iterate over rows in Pandas Dataframe
# Create a pandas column using for loop
# Create a Pandas Series from array
# Pandas | Basic of Time Series Manipulation

In [ ]:
#Make a Pandas DataFrame with a two-dimensional list:

In [1]:
import pandas as pd

data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
df = pd.DataFrame(data, columns=['apple', 'Banana', 'Cat'])
print("DataFrame:")
print(df)

DataFrame:
   apple  Banana  Cat
0      1       2    3
1      4       5    6
2      7       8    9

In [ ]:
#How to iterate over rows in a Pandas DataFrame:

In [2]:
for index, row in df.iterrows():
    print(f"Index: {index}")
    print(row)

Index: 0
apple     1
Banana    2
Cat       3
Name: 0, dtype: int64
Index: 1
apple     4
Banana    5
Cat       6
Name: 1, dtype: int64
Index: 2
apple     7
Banana    8
Cat       9
Name: 2, dtype: int64

In [ ]:
# Create a pandas column using for loop

In [3]:
df['D'] = [i * 3 for i in range(len(df))]
print("DataFrame with new column 'D':")
print(df)

DataFrame with new column 'D':
   apple  Banana  Cat  D
0      1       2    3  0
1      4       5    6  3
2      7       8    9  6

In [ ]:
# Create a Pandas Series from array

In [4]:
import numpy as np

array = np.array([10, 20, 30, 40, 50])
series = pd.Series(array)
print("Pandas Series from array:")
print(series)

Pandas Series from array:
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [ ]:
#Pandas | Basics of Time Series Manipulation:

In [5]:
# Creating a time series
time_rng = pd.date_range(start='2024-01-01', end='2024-01-10', freq='D')
time_series = pd.Series(np.random.randn(len(time_rng)), index=time_rng)
print("Time Series:")
print(time_series)

resampled_series = time_series.resample('2D').mean()
print("Resampled Time Series (2D frequency):")
print(resampled_series)

Time Series:
2024-01-01   -0.904933
2024-01-02    0.761094
2024-01-03    0.714195
2024-01-04    1.327038
2024-01-05   -0.199356
2024-01-06   -1.208772
2024-01-07    0.083137
2024-01-08    0.555119
2024-01-09    0.418923
2024-01-10    1.496145
Freq: D, dtype: float64
Resampled Time Series (2D frequency):
2024-01-01   -0.071919
2024-01-03    1.020616
2024-01-05   -0.704064
2024-01-07    0.319128
2024-01-09    0.957534
Freq: 2D, dtype: float64